<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a=[]

In [ ]:
# print the value of a

print(a)

[]

In [ ]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [ ]:
c=len(languages)

Using for loop iterate and print all the elements in the list

In [ ]:
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp=languages[1]

Print the value of temp and type(temp)

In [ ]:
print(temp)
type(temp)

Python

str

Append the element 'Java' in the list

In [ ]:
languages.append("Java")

Remove the element 42 from the list and print the list

In [ ]:

languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [ ]:
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [ ]:

colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [ ]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [ ]:
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)

Print len of colors and its elements

In [ ]:
print(len(colors))

7

Sort the list and print it.

In [ ]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [39]:
sent="Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [40]:
words=sent.split()

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [41]:
words_lower=[i.lower() for i in words]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [44]:
True if 'country' in words_lower else False

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [45]:

words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [46]:
x4=words_lower[0:5]

In [48]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Convert the list of elements to single string using join function and print it

In [49]:
stri="".join(words_lower)
print(stri)

coronaviruscausedlockdownsaroundworld.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [4]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [5]:


len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [6]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [7]:
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [8]:

type(stud_grades_set)

set

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [9]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [10]:
stud_grades_set.add("F")
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [12]:
stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [13]:

print(len(stud_grades_set))
print(stud_grades_set)

4
{'G', 'A', 'B', 'C'}

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [14]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [15]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [16]:
colors_set=set(colors)
fruits_set=set(fruits)

Find the union of both the sets.

In [18]:
u=colors_set.union(fruits_set)
print(u)

{'blue', 'red', 'orange', 'apples', 'grapes'}

Find the intersection of both the sets

In [19]:
i=colors_set.intersection(fruits_set)
i

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [20]:
d=fruits_set.difference(colors_set)
d

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [21]:
temp= [17,'virat',50.0]

Iterate through temp and print all the items in temp

In [22]:
for i in temp:
  print(i)

17
virat
50.0

replace first element with 11 in temp

In [23]:
temp[0]=11

Set temp1 = tuple(temp)

In [24]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [27]:

for i in temp1:
  print(i)

11
virat
50.0

replace first element with 17 in temp1

In [28]:
temp1[0]=11

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [29]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [31]:
print(city)

('Bangalore', 28.9949521, 72)

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [34]:
city2=('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [38]:
cities=city+city2

Print cities

In [39]:
cities

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [42]:
type(cities[0])

str

print the type of cities

In [41]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [43]:
d= {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [46]:
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [47]:
d['actor']

'amir'

Print the type of actor

In [48]:
type(d['actor'])

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [49]:
List=d['list']

Print the type of List.

In [50]:
print(type(list))

<class 'type'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [52]:
d1={ 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [53]:
d.update(d1)

print d

In [54]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [55]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [56]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [59]:
for i in d:
  print(i+": "+str(d[i]))

actor: amir
animal: cat
earth: 2
list: [23, 32, 12]
singer: Kr$na
album: Still here
genre: hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [60]:
dic={}
strin="sent"
for i in strin:
  dic[i]=1+dic.get(i,0)
for i in dic:
  print(i+" : "+str(dic[i]))

s : 1
e : 1
n : 1
t : 1