# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [8]:
import numpy as np
import pandas as pd

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [9]:
a = pd.Series([100,200,300,400])

Print a, and data type

In [10]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [11]:
a[2]

300

What are the values of index for series a?

In [12]:
a.index

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [13]:
series=pd.Series([100,200,300,400],index=['c','a','b','d'])
series

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [14]:

series['d']

400

Sort the values wrt to the index and print it

In [15]:
series.sort_values()

c    100
a    200
b    300
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [16]:
b = pd.Series([800,450,100],index=['e','f','g'])
b

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [17]:
s1=series.append(b)
s1

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [18]:
#print a again after appending b into it

a1=a.append(b)
a1

0    100
1    200
2    300
3    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [19]:
a = a.sort_values(ascending=False)

In [20]:

a.index

Int64Index([3, 2, 1, 0], dtype='int64')

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [21]:
df = pd.DataFrame(a)

In [22]:
df

     0
3  400
2  300
1  200
0  100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [23]:

df.shape

(4, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [24]:
# yep its same as the series.
df.index

Int64Index([3, 2, 1, 0], dtype='int64')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [25]:
df.head()

     0
3  400
2  300
1  200
0  100

In [26]:

df.tail()

     0
3  400
2  300
1  200
0  100

Rename the column of the dataframe as 'points'

In [27]:

df.columns=['points']

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [28]:
#Create fruits array
import random

fruits = [random.choice(['orange','mango','apple']) for i in range(7)]
fruits

['mango', 'apple', 'orange', 'mango', 'mango', 'mango', 'mango']

In [29]:
#Create series fruits out of fruits array

fruits = pd.Series(fruits)

fruits

0     mango
1     apple
2    orange
3     mango
4     mango
5     mango
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

In [56]:
fruits.reindex(index=df.index)

3     mango
2    orange
1     apple
0     mango
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [57]:
df['fruits']=fruits

In [58]:

df

   points  fruits
3     400   mango
2     300  orange
1     200   apple
0     100   mango

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [31]:
d1 = pd.DataFrame({"city":["Chandigarh", "Delhi", "Kanpur", "Chennai", "Manali"],"Temperature":[15,22,20,26,-2]})

Print(d1)

In [32]:
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [33]:
d1.shape

(5, 2)

Set city = d1['city']

In [34]:
city=d1['city']

print city <br>
What is the type of city.

In [35]:
print(city)
type(city)

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

pandas.core.series.Series

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [36]:
d2 = pd.DataFrame({"city":['Bengalaru','Coimbatore','Srirangam','Pondicherry'],"Temperature":[24,35,36,39]})

print the shape of this dataframe

In [37]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [38]:
d3 = pd.concat([d1,d2])

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [66]:
cities=d3["Temperature"]<=20

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [67]:
temp=d3["Temperature"]>=35
d3[temp]

          city  Temperature
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [77]:
# write function here

def is_ut(x):
    return x
    # write code below
    
d3['is_ut'] = d3["city"].isin(is_ut(["Chandigarh", "Pondicherry", "Delhi"]))

In [93]:
# print d3
d3

          city  Temperature  territory  is_ut  temp_farenheit
0   Chandigarh           15          1   True            59.0
1        Delhi           22          1   True            71.6
2       Kanpur           20          0  False            68.0
3      Chennai           26          0  False            78.8
4       Manali           -2          0  False            28.4
0    Bengalaru           24          0  False            75.2
1   Coimbatore           35          0  False            95.0
2    Srirangam           36          0  False            96.8
3  Pondicherry           39          1   True           102.2

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [94]:
# write function here
def c_to_f(x):
  return ((x * 9)/5) + 32

In [95]:
# check function c_to_f(10)

c_to_f(10)

50.0

In [96]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

d3['temp_farenheit']=c_to_f(d3['Temperature'])
d3

          city  Temperature  territory  is_ut  temp_farenheit
0   Chandigarh           15          1   True            59.0
1        Delhi           22          1   True            71.6
2       Kanpur           20          0  False            68.0
3      Chennai           26          0  False            78.8
4       Manali           -2          0  False            28.4
0    Bengalaru           24          0  False            75.2
1   Coimbatore           35          0  False            95.0
2    Srirangam           36          0  False            96.8
3  Pondicherry           39          1   True           102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [124]:
territory=d1[d1["city"].isin(["Chandigarh", "Pondicherry", "Delhi"])]
territory

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [130]:
temp=d1[c_to_f(d1["Temperature"])>90]
temp

Empty DataFrame
Columns: [city, Temperature]
Index: []

Select only the first three rows of the dataframe d1.

In [132]:
rows=d1[0:3]
rows

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

Select all the rows and last two columns in the dataframe.

In [143]:
all=d1.iloc[:, [-1,-2]].head()
all

   Temperature        city
0           15  Chandigarh
1           22       Delhi
2           20      Kanpur
3           26     Chennai
4           -2      Manali

## Groupby

In [166]:
# Create a dataframe using dictionary of your choice

data = pd.DataFrame({"keys":[1,2,3,4,1,3],"values":[10,20,30,40,50,60],"value1":[5,10,15,20,25,30]})

In [167]:
# Use Groupby of single column with aggregate sum()

data.groupby('keys').sum()

      values  value1
keys
1         60      30
2         20      10
3         90      45
4         40      20

In [168]:
# Use Groupby of single column with aggregate count()

data.groupby('keys').count()

      values  value1
keys
1          2       2
2          1       1
3          2       2
4          1       1

In [169]:
# Use Groupby of single column with aggregate min() and max()

data.groupby('keys').min()

      values  value1
keys
1         10       5
2         20      10
3         30      15
4         40      20

In [182]:
data.groupby('keys').max()

      values  value1
keys
1         50      25
2         20      10
3         60      30
4         40      20

In [193]:
# Use Groupby of any 2 columns with aggregate mean()

data.groupby(['keys'])['values','value1'].aggregate(['mean'])

<ipython-input-193-37206fcc3143>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(['keys'])['values','value1'].aggregate(['mean'])

     values value1
       mean   mean
keys
1      30.0   15.0
2      20.0   10.0
3      45.0   22.5
4      40.0   20.0

In [195]:
# Use Groupby of any 2 columns with aggregate min() and max()

data.groupby(['keys'])['values','value1'].aggregate(['min','max'])

<ipython-input-195-4ceabd236dca>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(['keys'])['values','value1'].aggregate(['min','max'])

     values     value1
        min max    min max
keys
1        10  50      5  25
2        20  20     10  10
3        30  60     15  30
4        40  40     20  20

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [183]:
a = pd.date_range(start ='1-01-2020', end ='1-04-2021')

print a

In [184]:
a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', length=370, freq='D')

What is the len of a?

In [185]:
len(a)

370

What is the type of a?

In [187]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex